.DS_Store
.AppleDouble
.LSOverride

._*

Thumbs.db
ehthumbs.db
Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

*.lnk

*~

.directory

.Trash-*

.env
.vagrant
Vagrantfile

/writable/cache/*
!/writable/cache/index.html

/writable/logs/*
!/writable/logs/index.html

/writable/session/*
!/writable/session/index.html

/writable/uploads/*
!/writable/uploads/index.html

/writable/debugbar/*
!/writable/debugbar/index.html

/writable/database.db
/writable/users-backup.json

php_errors.log

/user_guide_src/build/*
/user_guide_src/cilexer/build/*
/user_guide_src/cilexer/dist/*
/user_guide_src/cilexer/pycilexer.egg-info/*

/tests/coverage*

/phpunit

vendor/

_modules/*

.php-version

.idea/
*.iml

/nbproject/
/build/
/nbbuild/
/dist/
/nbdist/
/nbactions.xml
/nb-configuration.xml
/.nb-gradle/

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

.vscode/

/results/
/phpunit.xml